input,
select {
  font-size: 16px;
  border: 1px solid;
  border-radius: var(--radius);
  border-color: var(--border);
  padding: var(--padding-sm) var(--padding-md);
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:active,
input:focus-visible,
select:active,
select:focus-visible {
  outline: transparent;
  border-color: var(--primary);
}

input:disabled,
input:read-only,
select:disabled,
select:read-only {
  background-color: oklch(from var(--border) l c h / 0.5);
  color: oklch(from var(--text) l c h / 0.5);
}

input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
}
