*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100%;
  overflow-x: clip;
  overscroll-behavior-y: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border-bottom: 1px solid black;
}

img {
  vertical-align: middle;
}

p {
  max-width: 80ch;
}

button {
  min-width: fit-content;
  border: none;
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-sm);
}

button:has(> img) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
}

button > img {
  --image-size: 1rem;
  width: var(--image-size);
  height: var(--image-size);
}
